@page
@model PatinhasPayApp.Pages.IndexModel

@{
}

<!DOCTYPE html>
<html>
     <head>
        <title>Patinhas Pay App</title>
     </head>
     <body>
        <main>
            <h1>Patinhas Pay App</h1>
        </main>
    </body>
</html>
